body {
 background-color: gray;
 font-family: helvetica, arial, sans-serif;
 border-style: solid;
 border-color: black;
}

#home a, a:visited {
  color: black;
  text-decoration: none;
}

p {
  background-color: lightgray;
  color: black;
  border-style: outset;
  border-color: black;
}

a {
  color: lightgray;
}

a:visited {
  color: darkgray;
}

#mainlist ul {
  text-align: center;
}


#mainlist li {
    display: inline;
    width: auto;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
    line-height: 2;
}

#classjpg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
